# Quick Initial Analysis (Temporary, will be deleted)

In [1]:
import os
import sys
from pathlib import Path

root = Path(os.getcwd()).parent
os.chdir(root)
sys.path.append(str(root))

import pandas as pd

df = pd.read_excel('data/morphology_data.xlsx', sheet_name='morphology_EQ_Geneva')
df.head()

,id,left,top,right,bottom,row_index,col_index,field_1,PC1,PC2,...,noiseday_m,noisenight,bin_lst_me,bin_solar_,bin_sola_1,bin_pm10_m,bin_pm25_m,bin_no2_me,bin_noised,bin_noisen
0,36,2497723.99,1118389.101,2497973.99,1118139.101,10,1,1343,0.526055,0.338480,...,-1.409763,-1.450883,"(-0.699,-0.0567]","(0.658,2.84]","(0.529,3.4]","(-2.17,-0.717]","(-1.73,-0.731]","(-2.33,-0.72]","(-2.7,-0.657]","(-2.55,-0.65]"
1,37,2497723.99,1118139.101,2497973.99,1117889.101,11,1,1344,0.851423,0.674067,...,-0.495672,-0.757194,"(-2.4,-0.699]","(0.658,2.84]","(0.529,3.4]","(-2.17,-0.717]","(-1.73,-0.731]","(-2.33,-0.72]","(-0.657,0.0621]","(-2.55,-0.65]"
2,38,2497723.99,1117889.101,2497973.99,1117639.101,12,1,1345,-0.752449,0.148228,...,0.247978,0.128687,"(-0.699,-0.0567]","(-0.0457,0.658]","(-0.31,0.529]","(-0.717,-0.162]","(-0.731,-0.152]","(-0.72,-0.0796]","(0.0621,0.737]","(0.106,0.611]"
3,39,2497723.99,1117639.101,2497973.99,1117389.101,13,1,1346,1.066390,-0.858294,...,-0.072170,-0.152906,"(-2.4,-0.699]","(-2.51,-0.611]","(-1.71,-0.722]","(-2.17,-0.717]","(-0.731,-0.152]","(-2.33,-0.72]","(-0.657,0.0621]","(-0.65,0.106]"
4,40,2497723.99,1117389.101,2497973.99,1117139.101,14,1,1347,-0.433673,-0.642512,...,0.762563,0.617922,"(0.716,2.72]","(0.658,2.84]","(0.529,3.4]","(-0.717,-0.162]","(-0.731,-0.152]","(-2.33,-0.72]","(0.737,2.34]","(0.611,2.66]"

In [2]:
print(df.columns.unique())

Index(['id', 'left', 'top', 'right', 'bottom', 'row_index', 'col_index',
       'field_1', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'typology', 'city',
       'z_distance', 'q_cluster', 'lst_mean', 'solar_summ', 'solar_wint',
       'pm10_mean', 'pm25_mean', 'no2_mean', 'noiseday_m', 'noisenight',
       'bin_lst_me', 'bin_solar_', 'bin_sola_1', 'bin_pm10_m', 'bin_pm25_m',
       'bin_no2_me', 'bin_noised', 'bin_noisen'],
      dtype='object')

In [9]:
# Print the columns with unique values == len(df)

cols_to_remove = []
for col in df.columns:
    if col == 'id':
        continue
    if df[col].nunique() == len(df) or df[col].nunique() <= 1:
        cols_to_remove.append(col)

print("Columns to remove: ", cols_to_remove)
df = df.drop(columns=cols_to_remove)

Columns to remove:  ['field_1', 'city']

In [10]:
# Remove the columns with the "bin" prefix, as they are binned versions of other columns
bin_columns = [col for col in df.columns if col.startswith('bin')]
df = df.drop(columns=bin_columns)
print(f"Numbers of columns remaining this step: {len(df.columns)}")
print(df.columns)

Numbers of columns remaining this step: 24
Index(['id', 'left', 'top', 'right', 'bottom', 'row_index', 'col_index', 'PC1',
       'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'typology', 'z_distance',
       'q_cluster', 'lst_mean', 'solar_summ', 'solar_wint', 'pm10_mean',
       'pm25_mean', 'no2_mean', 'noiseday_m', 'noisenight'],
      dtype='object')

In [ ]:
# Print the rows where there are NaN values
nan_rows = df[df.isna().any(axis=1)]
nan_rows
df.dropna(inplace=True)
print(f"Numbers of rows after dropping NaN values: {len(df)}")

,id,left,top,right,bottom,row_index,col_index,PC1,PC2,PC3,...,z_distance,q_cluster,lst_mean,solar_summ,solar_wint,pm10_mean,pm25_mean,no2_mean,noiseday_m,noisenight
11,65,2497973.99,1117389.101,2498223.99,1117139.101,14,2,-1.475445,-0.411043,-0.545779,...,2.598637,"(2,2.66]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Save the cleaned dataframe
df.to_csv('data/morphology_data_cleaned.csv', index=False)