In [1]:
import os
import sys
from pathlib import Path
import math

root = Path(os.getcwd()).parent
sys.path.append(str(root))

import pandas as pd
df = pd.read_csv("../data/morphology_data_cleaned.csv")
df.head()

,id,PC1,PC2,PC3,PC4,PC5,PC6,typology,z_distance,q_cluster,lst_mean,solar_summ,solar_wint,pm10_mean,pm25_mean,no2_mean,noiseday_m,noisenight
0,36,0.526055,0.338480,0.846051,-1.420268,-0.217506,0.687111,C,1.908847,"(1.48,2]",-0.111053,1.130211,0.982144,-1.361464,-1.464034,-1.538696,-1.409763,-1.450883
1,37,0.851423,0.674067,0.542860,0.984584,-1.095372,0.569433,A,1.991855,"(1.48,2]",-0.938424,2.487577,3.365157,-1.704048,-1.595468,-2.022383,-0.495672,-0.757194
2,38,-0.752449,0.148228,-0.399779,-0.586831,0.619232,0.894757,I,1.508769,"(1.48,2]",-0.203460,0.316603,0.189124,-0.324336,-0.225750,-0.250166,0.247978,0.128687
3,39,1.066390,-0.858294,0.524694,-0.644939,0.658156,0.105764,I,1.734780,"(1.48,2]",-1.182843,-1.851830,-1.670012,-1.161430,-0.534386,-0.854209,-0.072170,-0.152906
4,40,-0.433673,-0.642512,-0.056089,-0.782327,-0.879971,-0.257382,I,1.434109,"(0.312,1.48]",1.315675,0.750611,0.710263,-0.706488,-0.378117,-0.830912,0.762563,0.617922